<h2>
  <%= @beer_club.name %>
</h2>

<p>
  Founded
  <%= @beer_club.founded %>
</p>

<% if current_user && current_user.beer_clubs.find_by_id(@beer_club.id).nil? %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit value: "join the club", class: "btn btn-primary active" %>
  <% end %>
<% end %>

<h2> Members </h2>
  <% @beer_club.memberships.each do |member| %>
    <% if member.confirmed %>
      <ul>
        <li><%= member.user.username %></li>
      </ul>
    <% end %>
  <% end %>

<h2>Outstanding applications</h2>
  <% @applicants.each do |applicant| %>
    <ul>
      <li><%= applicant.user.username %> 
      <% if current_user.memberships.find_by(beer_club_id: applicant.beer_club_id).confirmed %>
        <%= link_to 'Confirm', confirm_membership_membership_path(applicant.id), method: :post, class: "btn btn-primary btn-sm active" %></li>
      <% end %>
    </ul>
  <% end %>

<% if current_user && !current_user.beer_clubs.find_by_id(@beer_club.id).nil? %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership", class: "btn btn-primary active" %>
  <% end %>
<% end %>
<br>
<%= (link_to 'Edit', edit_beer_club_path(@beer_club), class:"btn btn-primary active") if current_user %> 
<% if current_user and current_user.admin %>
  <%= (link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger active")  %>
<% end %>

