<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.favorite_style.nil? %>
    <%= @user.username %> does not have a favorite style yet.
  <% else %>
    <%= @user.username %>'s favorite style of beer is <strong><%= @user.favorite_style %></strong>.
  <% end %>
</p>

<p>
  <% if @user.favorite_brewery.nil? %>
    <%= @user.username %> does not have a favorite brewery yet.
  <% else %>
    <%= @user.username %>'s favorite brewery is  <strong><%= @user.favorite_brewery %></strong>.
  <% end %>
</p>

<p>has made <%= pluralize(@user.ratings.count, 'rating') %> </p>
<p>Average rating: <%= @user.average_rating %> </p>

<strong>Ratings</strong>
<ul>
<% @user.ratings.each do |rating| %>
  <li>
    <%= rating %> 
    <% if @user == current_user %>
      <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: "rating-del-btn" %>
    <% end %>
  </li>
<% end %>
</ul>

<% if current_user == @user %>
  <h2>Member of </h2>
  <% current_user.beer_clubs.each do |beer_club| %>
    <p><%= beer_club.name %></p> 
  <% end %>
<% end %>

<% if !current_user.nil? && current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
