<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>has made <%= pluralize(@user.ratings.count, 'rating') %> </p>
<p>Average rating: <%= @user.average_rating %> </p>

<strong>Ratings</strong>
<ul>
<% @user.ratings.each do |rating| %>
  <li>
    <%= rating %> 
    <% if @user == current_user %>
      <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>

<% if current_user == @user %>
  <h2>Member of </h2>
  <% current_user.beer_clubs.each do |beer_club| %>
    <p><%= beer_club.name %></p> 
  <% end %>
<% end %>

<% if !current_user.nil? && current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
