<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <em>Established year:</em>
  <%= @brewery.year %>
</p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>
<p>
  Has <%= pluralize(@brewery.ratings.count, 'rating') %>.
  <% if(@brewery.ratings.present?) %>
         Average: <%= @brewery.average_rating %>
  <% end %>
</p>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
