<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ratebeer" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ratebeer" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <div class="container">
         <% if notice %>
          <div style="margin-top: 10px" class="alert alert-success" role="alert">
            <%= notice %>
          </div>
         <% end %>
          <div class="row">
            <div class="col-sm-8">
              <%= yield %>
            </div>
            <div class="col-sm-4">
              <img 
                src="http://www.cs.helsinki.fi/u/mluukkai/wadror/pint.jpg" 
                width="200"
                style="padding-top:30px"
              >
            </div>
          </div>
        </div>
    </main>
  </body>
</html>
